.open-note {
  opacity: 1;
  margin-top: 30px;
}

.select-faction.disabled > *:not(.select-faction .note) {
  color: #949494ff !important;
}

.survivor-header-select.disabled {
  color: #949494ff !important;
}

.hunter-header-select.disabled {
  color: #949494ff !important;
}

.price {
  font-size: 3rem;
}

.loading {
  width: 3.5rem;
  height: 3.5rem;
  animation: loading 3s infinite linear;
}

@keyframes loading {
  100% {
    transform: rotate(-360deg);
  }
}

.total-price-survivor.disabled {
  border-color: #949494ff !important;
  border-right: 2px solid transparent !important;
  border-left: 2px solid transparent !important;
}

.total-price-hunter.disabled {
  border-color: #949494ff !important;
  border-right: 2px solid transparent !important;
  border-left: 2px solid transparent !important;
}
