@media (max-width: 20em) {
  :root {
    font-size: 56.25%;
  }
}

@media (min-width: 23.44em) {
  :root {
    font-size: 68.75%;
  }
}

@media (min-width: 26.56em) {
  :root {
    font-size: 75%;
  }
}

@media (min-width: 48em) {
  :root {
    font-size: 81.25%;
  }
}

@media (min-width: 64em) {
}

@media (min-width: 90em) {
}

@media (min-width: 160em) {
}
