:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "kanit";
}

.container {
  margin: auto;
  padding: 0 3rem;
  max-width: 120rem;
}

.header-text {
  font-size: 5rem;
  text-align: center;
  padding-top: 1.3rem;
  margin-bottom: 1.7rem;
}

.introduction {
  width: 20%;
  font-size: 1.45rem;
  line-height: 1.5;
  text-align: center;
  margin: auto;
}
