:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amatic SC", sans-serif;
  background: #0f0b1a;
  color: #f5f5f5;
}

.container {
  margin: auto;
  padding: 0 3rem;
  max-width: 120rem;
}

.header-text {
  font-size: 4.3rem;
  font-weight: bolder;
  text-align: center;
  padding-top: 1.3rem;
  margin-bottom: 1.7rem;
  line-height: 1;
}

.introduction-container {
  position: relative;
}

.introduction-invi {
  width: 65%;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  margin: auto;
  visibility: hidden;
}

.introduction {
  font-size: 1.6rem;
  font-weight: 600;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  margin: auto;
  text-align: center;
  position: absolute;
  letter-spacing: 1.2px;
}

.main-content {
  padding-top: 7rem;
}

.survivor-header,
.hunter-header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.3rem;
}

.survivor-header {
  color: #2caeff;
}

.hunter-header {
  color: #ff0000;
}

.survivor-table,
.hunter-table {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.hunter-table {
  margin-bottom: 6rem;
}

.star {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  fill: #ffd700;
  stroke: #191919;
  margin-left: 3px;
}

.survivor-head th,
.hunter-head th {
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

tr {
  width: 50%;
  height: 3.5rem;
}

th {
  height: 6rem;
}

td {
  font-size: 1.9rem;
  font-weight: 600;
}

.survivor {
  padding-bottom: 7rem;
}

.calculate-price-header {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  text-align: center;
}

.select-faction {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.survivor-header-select,
.hunter-header-select {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.8rem;
}

.select-faction select {
  width: 10.5rem;
}

.select-from-container,
.select-to-container {
  width: fit-content;
  margin: auto;
}

.select-from-container {
  margin-bottom: 2rem;
}

.select-to-container {
  margin-bottom: 3rem;
}

.select-from-container p,
.select-to-container p {
  font-size: 1.5rem;
}

.select-survivor {
  margin-bottom: 6rem;
}

.tier,
.sub-tier,
.stars {
  display: block;
}

.tier-container,
.sub-tier-container {
  margin-bottom: 0.7rem;
}

.arrow {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  margin: auto;
}

.total-button {
  font-size: 1rem;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 0.3rem;
  padding: 0.5rem 0.7rem;
  border: 1px solid #616161;
  border-radius: 3px;
}

.total-text {
  font-size: 1.2rem;
}
