:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amatic SC", sans-serif;
  background: linear-gradient(
    to bottom,
    #0f0b1a,
    #0f0b1a,
    #0f0b1a,
    #0f0b1a,
    #090710,
    #080808
  );
  color: #f2f8ff;
  font-weight: 600;
}

.container {
  margin: auto;
  padding: 0 3rem;
  max-width: 120rem;
}

.header-text {
  font-size: 4.3rem;
  font-weight: bolder;
  text-align: center;
  padding-top: 3.2rem;
  margin-bottom: 2.3rem;
  line-height: 1;
}

.introduction-container {
  position: relative;
  padding-bottom: 6.2rem;
}

.introduction-invi {
  width: 65%;
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin: auto;
  visibility: hidden;
}

.introduction {
  font-size: 1.6rem;
  font-weight: 600;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  margin: auto;
  text-align: center;
  position: absolute;
  letter-spacing: 1.2px;
  line-height: 1.6;
}

.main-content {
  padding-top: 10rem;
}

.survivor-header,
.hunter-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1.3rem;
}

.survivor-header {
  color: #2caeff;
}

.hunter-header {
  color: #ff0000;
}

.survivor-table,
.hunter-table {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.hunter {
  padding-bottom: 15rem;
}

.star {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  fill: #ffd700;
  stroke: #191919;
  margin-left: 3px;
}

.survivor-head th,
.hunter-head th {
  font-size: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
  width: 50%;
  height: 6rem;
  letter-spacing: 1.5px;
}

tr {
  height: 3.5rem;
}

td {
  font-size: 1.9rem;
  font-weight: 600;
}

.survivor {
  padding-bottom: 11rem;
}

.calculate-price {
  padding-bottom: 16rem;
}

.calculate-price-header {
  font-size: 3.4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.select-faction {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.survivor-header-select,
.hunter-header-select {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.survivor-header-select {
  color: #2caeff;
}

.hunter-header-select {
  color: #ff0000;
}

.select-faction select,
.select-faction input {
  font-family: "Amatic SC";
  width: 11rem;
  height: 2.8rem;
  font-size: 1.6rem;
  font-weight: bolder;
  padding: 3px 10px;
  background-color: #efefef;
  border: 1px solid #9a9a9a;
  border-radius: 4px;
}

.select-from-container,
.select-to-container {
  width: fit-content;
  margin: auto;
}

.select-from-container {
  margin-bottom: 3rem;
}

.select-to-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.select-from-container p,
.select-to-container p {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.tier,
.sub-tier,
.stars {
  font-size: 1.4rem;
  margin-bottom: 3px;
  display: block;
}

.tier-container,
.sub-tier-container {
  margin-bottom: 1.7rem;
}

.arrow {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  margin: auto;
}

option {
  font-family: "Amatic SC";
  font-weight: bolder;
}

.calculate-currency-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.total-button {
  font-family: "Amatic SC";
  background-color: #fff;
  display: block;
  font-size: 1.8rem;
  font-weight: bolder;
  width: fit-content;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border: 1px solid #808080;
  border-radius: 8px;
}

.currency.convert {
  width: 2rem;
  height: 1.2rem;
  border: 1px solid #808080;
  opacity: 0;
}

.currency {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.currency-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.8rem;
}

.convert-container {
  position: relative;
}

.chevron-down {
  position: absolute;
  width: 1.4rem;
  height: 0.9rem;
  color: #000;
  background-color: white;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 0.1rem 0.3em;
  left: 50%;
  transform: translate(-50%, -3%);
  z-index: -1;
}

.total-text {
  font-size: 2rem;
  width: fit-content;
  margin: auto;
  margin-bottom: 7px;
}

.total-price-arrow {
  width: 1.7rem;
  height: 1.7rem;
  display: block;
  margin: auto;
  margin-bottom: 9.7px;
}

.loading-animation {
  position: absolute;
  height: 2.7rem;
  width: 2.7rem;
}

.total-price-survivor,
.total-price-hunter {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  height: 3.7rem;
  border-bottom: 2px solid #fff;
  margin-bottom: 2rem;
}

.other-services {
  padding-bottom: 19rem;
}

.other-services-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8rem;
  margin-bottom: 4.8rem;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  column-gap: 3rem;
  row-gap: 5rem;
}

.essence-container {
  position: relative;
  height: 7.7rem;
}

.rank-essence {
  position: absolute;
  width: 4.7rem;
  top: 50%;
}

.rank-essence.low-essence {
  left: 50%;
  transform: translate(-100%, -50%);
}
.rank-essence.mid-essence {
  right: 50%;
  transform: translate(100%, -50%);
}

.rank-essence.peak-essence {
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6rem;
  z-index: 1;
}

.rank-essence-text,
.dice-text,
.c-badge-text,
.dailies-text {
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
}

.dice-container {
  position: relative;
  height: 7.7rem;
}

.four-sided-dice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
  filter: drop-shadow(0 0 1.5px gold);
}

.c-badge-container-outer,
.logic-point-container-outer {
  position: relative;
  height: 7.7rem;
}

.c-badge-survivor,
.c-badge-hunter {
  width: 7rem;
}

.c-badge-survivor {
  margin-right: -0.7rem;
  filter: drop-shadow(0 0 1.5px #0055ff);
}

.c-badge-hunter {
  margin-left: -0.7rem;
  filter: drop-shadow(0 0 1.5px #ff0000);
}

.logic-point {
  width: 5.4rem;
}

.logic-point:first-child {
  position: relative;
  z-index: -1;
  left: 2.5rem;
}

.logic-point:last-child {
  position: relative;
  z-index: 1;
  right: 2.5rem;
}

.c-badge-container-inner,
.logic-point-container-inner {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.c-badge-container-inner {
  transform: translate(-50%, -60%);
}

.logic-point-container-inner {
  transform: translate(-50%, -50%);
}

.recruit-container {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 20rem;
}

.knight-icon {
  width: 5.9rem;
  filter: drop-shadow(0 0 5px #0055ff6a);
}

.dragon-icon {
  width: 7.7rem;
  filter: drop-shadow(0 0 5px #ff000050);
}

.recruit-container .icon-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2.1rem;
  margin-bottom: 1rem;
}

.recruit-text {
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.payment-method-text {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 0.6rem;
}

.payment-icon-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 1.9rem;
  width: 20rem;
  margin: auto;
}

.gcash-icon,
.paypal-icon,
.paymaya-icon {
  width: 4.9rem;
  height: 4.5rem;
}

.gcash-icon {
  grid-column: 1/3;
}

.paypal-icon {
  grid-column: 3/5;
}

.paymaya-icon {
  grid-column: 5/-1;
}

.landbank-icon {
  width: 4.8rem;
  height: 3.4rem;
  grid-column: 1/4;
  justify-self: end;
  margin-right: 0.7rem;
}

.bdo-icon {
  width: 3.8rem;
  height: 1.3rem;
  grid-column: 4/-1;
  justify-self: start;
  margin-left: 0.7rem;
}

.footer {
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.contact-text {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.4rem;
}

.contact-text::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2.7rem;
  height: 2.7rem;
  margin-left: 0.3rem;
  background-image: url("images/luchino_waiting.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

.social-icon {
  height: 2.8rem;
  width: 2.8rem;
}
